<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cynerds.mgb.mybatis.MGBMapper">
    <resultMap id="Track" type="org.cynerds.mgb.model.Track">
        <id column="track_id" property="trackId"/>
        <result column="album_id" property="albumId"/>
        <result column="track_no" property="trackNo"/>
        <result column="track_name" property="trackName"/>
        <result column="artist" property="artist"/>
        <result column="price" property="price"/>
        <result column="creator"  property="creator"/>
        <result column="create_date"  property="createDate"/>
        <result column="updater"  property="updater"/>
        <result column="update_date"  property="update  Date"/>
        <collection column="co_buyer" property="coBuyers" ofType="String">
            <id property="id" column="co_buyer"/>
        </collection>
    </resultMap>
    
    <select id="queryTracks" resultMap="Track">
        SELECT
            T.track_id, album_id, track_no, track_name, artist,
            price, co_buyer, T.creator, T.create_date
        FROM
            track T
        INNER JOIN track_co_buyer TCB
        ON T.track_id = TCB.track_id
        <!--WHERE id <![CDATA[ < ]]> #{id}-->
    </select>
</mapper>