spring:
  profiles: default
  datasource:
    url: jdbc:mysql://localhost:8306/mgb?useSSL=true&verifyServerCertificate=false
    # url: jdbc:mysql://localhost:8306/mgb?useSSL=true&verifyServerCertificate=false&serverTimezone=Asia/Taipei
    username: username
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  config-location: classpath:mybatis/config/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml