spring:
  profiles: default
  datasource:
    url: jdbc:mysql://localhost:8306/mgb?useSSL=true&verifyServerCertificate=false
    username: username
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
