<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="MGBTracks" type="org.cynerds.mgb.model.MGBTracks"/>
        <typeAlias alias="Track" type="org.cynerds.mgb.model.Track"/>
        <typeAlias alias="Album" type="org.cynerds.mgb.model.Album"/>
        <typeAlias alias="User" type="org.cynerds.mgb.model.User"/>
    </typeAliases>
</configuration>